*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(233, 47%, 7%);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  width: 600px;
  height: 495px;
  color:  hsla(0, 0%, 100%, 0.75);
  padding: 70px 60px 60px 75px;
  background-color: hsl(244, 38%, 16%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.title_1{
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  margin-bottom: 30px;
  font-family: 'Inter'
}
.phrase{
  color: hsl(277, 64%, 61%);
}
.comments{
  font-size: 17px;
  padding-right: 100px;
  line-height: 28px;
  font-family: 'Lexend Deca';
}
.cover{
  background-size: cover;
  background-image: url("./images/image-header-desktop.jpg");
  width: 600px;
  height: 495px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0 0 0 600px rgba(99, 20, 148, 0.6);
}
.stats{
  margin-top: 80px;
  list-style: none;
  display: flex;
}
.it{
  margin-right: 80px;
}
.title_2{
  font-size: 30px;
  color:  hsl(0, 0%, 100%);
  margin-bottom: 10px;
  font-family: 'Inter';
}
.desc{
  font-family: 'Lexend Deca';
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;

}
@media(max-width: 1024px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .box{
    margin: 0;
    padding: 40px 20px;
    width: 350px;
    height: 600px;
    border-radius: 0px 0px 8px 8px;
  }
  .cover{
    width: 350px;
    height: 310px;
    border-radius: 8px 8px 0px 0px;
  }
  .title_1{
    text-align: center;
    font-size: 30px;
  }
  .title_2{
    font-size: 25px;
    margin-top: 30px;
  }
  .comments{
    text-align: center;
    font-size: 15px;
    padding: 0px 20px;
  }
  .stats{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .it{
    text-align: center;
    margin: 0px;
  }
  .desc{
    font-size: 15px;
  }

}
